# Ignore everything
*

# Except the following:
#
# Go exports
!core
!core/*.go
!models
!models/*.go
!db
!db/*.go

# Files in root
!main.go
!Dockerfile
!go.*
!.gitignore
!docker-compose.yml
!entrypoint.sh

# Public assets
!public
!public/*.html
!public/heroicons.svg
!public/plugin.js
!public/highlightjs
!public/highlightjs/v11.11.1
!public/highlightjs/v11.11.1/*
!public/marked
!public/marked/v16.0.0
!public/marked/v16.0.0/*

# Node modules
!frameworks
!frameworks/*js*

# Github workflows
!.github/
!.github/workflows/
!.github/workflows/*.yml
